@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* vh viewport-height. 100 pega o tamanho completo do browser */
    height: 100vh;
    /* Scrollbars não serão mostradas por default */
    overflow: hidden;
    margin: 0;
}